<a class="trigger-pop-up" sytle="display:none">                                                                                        
<span class="imgregua" style="margin-right: 7px !important;">
  <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512" fill="var(--popup_text_medidas-color)"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M544 128h-48v88c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-88h-64v88c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-88h-64v88c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-88h-64v88c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-88h-64v88c0 4.42-3.58 8-8 8H88c-4.42 0-8-3.58-8-8v-88H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h512c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32z"/></svg>
  </span>                  
  <p style="margin: 0; color: var(--popup_text_medidas-color);">{{ settings.popup_button-text }}</p>                       
</a>

{% if product.tags contains 'medidas1'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas2'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product2}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc2 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular2 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas3'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product3}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc3 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular3 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas4'%}
<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product4}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc4 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular4 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas5'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product5}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc5 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular5 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas6'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product6}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc6 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular6 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas7'%}
  
<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product7}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc7 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular7 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas8'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product8}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc8 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular8 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas9'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product9}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc9 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular9 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

{% if product.tags contains 'medidas10'%}

<div class="pop-up-modal">
   <div class="pop-up-content">
     <span class="medidas">{{settings.size-product10}}</span>
      <span class="close-button">&times;</span>
      <span class="size-chart-content">
        <img class="imgsize-pc" src="{{ settings.sizeproduct_pc10 | img_url: '700x400' }}">
        <img class="imgsize-celular" src="{{ settings.sizeproduct_celular10 | img_url: '700x400' }}">
     </span>
   </div>
</div>  

<style>
  .trigger-pop-up {display: flex !important;}  
</style>

{% endif %}

<!-- Divisão das categoria -->

<!-- Script e Estilo -->

<script type="text/javascript">
  
    const modal = document.querySelector(".pop-up-modal");
    const trigger = document.querySelector(".trigger-pop-up");
    const closeButton = document.querySelector(".close-button");

    function toggleModale() {
        modal.classList.toggle("show-pop-up");
    }

   

  
    trigger.addEventListener("click", toggleModale);
    closeButton.addEventListener("click", toggleModale);
    window.addEventListener("click", windowOnClick);
  
</script>

<style>
  
  
.pop-up-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #33333399;
  opacity: 0;
  display: none;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.pop-up-content {
    position: absolute;
    max-width: 520px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--popup_show-color);
    border: 1px solid var(--popup_text-color);
    width: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px -7px black;
    overflow: auto;
}
  
.pop-up-content table {table-layout: auto;}
  
.close-button {  
    position: absolute;
    top: -7px;
    right: 0px;
      font-weight: 900;
    cursor: pointer;
    width: 59px;    
    text-align: center;
    color: var(--popup_text-color);
    font-size: 36px;
    cursor: pointer;
    border-radius: 0.25rem;      
}
  
.close-button:hover {}
  
.medidas {  
  float: left;
    font-size: 21px;
    color: var(--popup_text_titulo);
    margin: 13px 0px 0 15px;
    border-radius: 0.25rem;
    font-weight: 600;
    display: flex;  
}
.show-pop-up {
  z-index: 1000;
  opacity: 1;
  display: block;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}  
.trigger-pop-up { 
    line-height: 1;
    font-size: 11px;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--popup_text-color);
    cursor: pointer;
    margin: 0px 0 0 0;
    padding: 0px 5px 0px 5px;
    max-width: max-content;
    padding-bottom: 0px !important;
    background: var(--popup_size-color);
    align-items: center;
    border-radius: var(--popup_border);     
} 
.trigger-pop-up:hover {
    color: var(--popup_text_medidas-color);
    opacity: 0.8;
}  
.size-chart-content img { 
    width: 100%;
    padding: 5px;
    border-radius: 10px;  
}  
.imgregua img {  
   width: 35px;
   margin: -2px 4px 0 0px;                                                                                          
}
          
{% if settings.hide_popup_size == true %} 
          
.swatch__list_pr {  
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
}          

{% endif %}                                                                                                    

  
@media only screen and (max-width: 768px) {
  
[data-opname="{{settings.popup_name_button | downcase }}"] .swatch__list_pr {display: block;}
  
.trigger-pop-up {    
    margin: 10px 0 0 0;
    max-width: max-content;    
}  
.pop-up-content, .size-chart-content table {    
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
    
  
}
  
.size-chart-content th, .size-chart-content td {padding: 10px;}
  
}
</style>

<style>
  
.imgsize-celular {display: none;}
  
@media only screen and (max-width: 768px) {
    
  .imgsize-pc {display: none;}
  .imgsize-celular {display: flex;}
    
}
  
</style>

