<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps' or 'ur' or 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>

    <!-- INICIO ADICIONE SEUS PIXELS AQUI -->
    

    <!-- FIM DO ADICIONE SEUS PIXELS AQUI -->
    
  {% render 'sizechartsrelentless' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

 {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    
    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">


    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.min.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}" defer>
    <link rel="preload" as="script" href="{{ 'theme.min.js' | asset_url }}" defer>

    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}

      <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>
      <link rel="preload" as="image" imagesizes="(max-width: 999px) calc(100vw - 48px), 640px" imagesrcset="{% render 'image-attributes', image: selected_media, sizes: '400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800', sizes_only: true %}">

      {%- if product.media.size > 1 -%}
        <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- elsif request.page_type == 'collection' and collection.image -%}
      <link rel="preload" as="image" media="(max-width: 740px)" imagesizes="100vw" imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '400,500,600,700,800,900,1000', height_constraint: 600, crop: 'center', sizes_only: true %}">
      <link rel="preload" as="image" media="(min-width: 741px)" imagesizes="100vw" imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', sizes_only: true %}">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}

    <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {{ content_for_header }}      
    {%include "setbg"%}

     {% render 'visionlcp' %}


<!-- INICIO DOS BLOQUEADORES -->
  
    {% if settings.ali_hunter_enable %}
      {% render 'blockalihtr' %}
    {% endif %}
    
    {% if settings.botao_direito_enable %}
        <script type="text/javascript">
            var message="Desculpe, o clique com o botão direito foi desativado.";
            function clickIE() {if (document.all) {(message);return false;}}
            function clickNS(e) {if
            (document.layers||(document.getElementById&&!document.all)) {
                if (e.which==2||e.which==3) {(message);return false;}}}
            if (document.layers)
            {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
            else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
            document.oncontextmenu=new Function("return false")
        </script>
    {% endif %}

    {% if settings.atalho_f12_enable %}
        <script>
            document.onkeydown = function(e) {
                if(event.keyCode == 123) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
                    return false;
                }
            }
        </script>
    {% endif %}

    {% if settings.selecionar_conteudo_enable %}
        <script>
            function disableselect(e) {
                return false;
            }

            function reEnable() {
                return true;
            }

            document.onselectstart = new Function("return false");

            if (window.sidebar) {
                document.onmousedown = disableselect;
                document.onclick = reEnable;
            }
        </script>
    {% endif %}    


<!-- CASO TENHA MAIS BLOQUEADORES, INSIRA ABAIXO DESSA LINHA -->

<!-- FIM DOS BLOQUEADORES -->


    <!-- Areviews coleção -->
   

    
  <!-- Areviews coleção -->

</head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>


  <!-- NÃO ASSINCRONIZE NEM ADIE ESSE SCRIPT  -->   <script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   
          
    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <loading-bar class="loading-bar"></loading-bar>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'announcement-bar' -%}
      {%- section 'popup' -%}
      {%- section 'header' -%}

      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}

    <div id="main" role="main" class="anchor">
      {%- comment -%}
      IMPLEMENTATION NOTE: on collection and search page, the theme was designed to show on mobile the filter bar and/or sort
        by at the very top of the page. However, due to the fact that sections are isolated, I had to move the code
        here. Then, the collection section, based on the selected settings, will eventually hide those elements in CSS
      {%- endcomment -%}
      {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
        {%- assign active_filters_count = 0 -%}

        {%- if request.page_type == 'collection' -%}
          {%- assign filters = collection.filters -%}
        {%- else -%}
          {%- assign filters = search.filters -%}
        {%- endif -%}

        {%- for filter in filters -%}
          {%- if filter.type == 'list' -%}
            {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
          {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
            {%- assign active_filters_count = active_filters_count | plus: 1 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- assign is_toolbar_collapsed = false -%}

        {%- if request.page_type == 'search' and search.results.first.object_type != 'product' and search.results_count > 0 -%}
          {%- assign is_toolbar_collapsed = true -%}
        {%- endif -%}

        <div id="mobile-facet-toolbar" class="mobile-toolbar {% if is_toolbar_collapsed %}is-collapsed{% endif %} hidden-lap-and-up">
          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--filters {% if active_filters_count > 0 %}has-filters{% endif %}" aria-expanded="false" aria-controls="facet-filters" style="display: none">
            {%- render 'icon' with 'filters' -%}
            <span class="mobile-toolbar__item-label">{{- 'collection.general.filters' | t -}}</span>
          </button>

          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--sort" aria-expanded="false" aria-controls="sort-by-popover" style="display: none">
            <span class="mobile-toolbar__item-label">{{- 'collection.general.sort_by' | t -}}</span>
            {%- render 'icon' with 'chevron' -%}
          </button>
        </div>
      {%- endif -%}

      {{ content_for_layout }}

      {%- unless request.page_type == 'index' or request.page_type == 'password' or request.page_type == 'gift_card' -%}
        {%- section 'static-text-with-icons' -%}
        {%- section 'static-newsletter' -%}
      {%- endunless -%}
    </div>
            

    <script defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    <script defer nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>

          
    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'footer' -%}
    {%- endif -%}

{%- if settings.show_sticky_whats -%}
  {% render 'stickywhats' %}
  {%- endif -%}

          {%- if template contains "mini-cart" -%}
      .areviews_rating {
    display: none!important;
}
      {%- endif -%}

<style>
.shopify-payment-button {
  display: none !important;
}
</style>  
         
 </body>
</html>